<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout::head"></head>
<!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>-->

    <body>
        <header th:replace="layout/layout::header"></header>
        <div class="container py-4">

            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">

                    <div th:object="${adminCita}" th:remove="tag">
                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>                   

                    <form th:action="@{/formAdminCita}" th:object="${adminCita}" method="POST">

<!--                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" th:text="'Paciente'"></label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Andres Guzman">
                            </div>
                        </div>-->

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Paciente: </label>
                            <div class="col-sm-6">
                                <select  class="col-sm-12 browser-default custom-select" th:field="*{paciente}">
                                    <option th:each="pct:${paciente}" th:value="${pct.id}" th:text="${ pct.docIdent + ' - '+pct.nombre +'  '+ pct.apellido}"></option>
                                  
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Medico: </label>
                            <div class="col-sm-6">
                                <select  class="col-sm-12 browser-default custom-select" th:field="*{medico}">
                                    <option th:each="medico:${medico}" th:value="${medico.id}" th:text="${medico.nombre +'  '+ medico.apellido}"></option>
                                  
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Fecha</label>
                            <div class="col-sm-6">
                                <input type="date" id="date_picker" class="form-control" th:field="*{adminCitaFecha}" th:errorclass="'form-control alert-danger'"/>
                                <small class="form text text-danger" th:if="${#fields.hasErrors('adminCitaFecha')}" th:errors="*{adminCitaFecha}"></small>
                                
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Hora</label>
                            <div class="col-sm-6">
                                <input type="time" value="08:00" min="08:00" max="21:00" required class="form-control" th:field="*{adminCitaHora}" th:errorclass="'form-control alert-danger'"/>
                                <small class="form text text-danger" th:if="${#fields.hasErrors('adminCitaHora')}" th:errors="*{adminCitaHora}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Motivo</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{adminCitaMotivo}" class="form-control" th:errorclass="'form-control alert-danger'" />
                                <small class="form text text-danger" th:if="${#fields.hasErrors('adminCitaMotivo')}" th:errors="*{adminCitaMotivo}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Observacion: </label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{adminCitaObservacion}" class="form-control" th:errorclass="'form-control alert-danger'" />
                                <small class="form text text-danger" th:if="${#fields.hasErrors('adminCitaObservacion')}" th:errors="*{adminCitaObservacion}"></small>
                            </div>
                        </div>
                        
                         <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Estado de Cita: </label>
                            <div class="col-sm-6">
                                <select  class="col-sm-12 browser-default custom-select" th:field="*{estadoCita}">
                                    <option th:each="estCit:${estadoCita}" th:value="${estCit.id}" th:text="${estCit.nombreEstado}"></option>
                                  
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="submit" value="Crear Cita" class="btn btn-primary"/>
                            </div>
                        </div>

                        <input type="hidden" th:field="*{idAdminCita}" />
                    </form>
                </div>
            </div>
        </div>
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--<script>
        $( "#datepicker" ).datepicker({
   minDate: 0, //restrict user to choose previous date
   dateFormat: 'dd-mm-yy',
});
    </script>-->
    
    <script language="javascript">
        
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        $('#date_picker').attr('min',today);
        
    </script>

</html>

