<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout::head"></head>
    <body>
        <header th:replace="layout/layout::header"></header>
        <div class="container py-4">

            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">

                    <div th:object="${especialidades}" th:remove="tag">
                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <form th:action="@{/formEspecialidades}" th:object="${especialidades}" method="post">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Especialidad: </label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{nombre_esp}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                                <small class="form text text-danger" th:if="${#fields.hasErrors('nombre_esp')}" th:errors="*{nombre_esp}"></small>     
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="submit" value="Guardar Informacion" class="btn btn-primary"/>
                            </div>
                        </div>

                        <input type="hidden" th:field="*{id}" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
